@use 'variables';

$maps-wrapper-border-color: #323c49;
$no-cashiers-margin-top: 42px;
$no-cashiers-font-size: 14px;

.maps-wrapper {
  overflow: hidden;
  border: 1px solid $maps-wrapper-border-color;
  border-radius: variables.$border-radius-sm;
}

.no-cashiers {
  margin-top: $no-cashiers-margin-top;
  color: rgba(variables.$color-grey, 0.7);
  font: $no-cashiers-font-size variables.$font-regular;
  text-align: center;
}

.g-12,
.gy-12 {
  --bs-gutter-y: 12px;
}

.g-12,
.gx-12 {
  --bs-gutter-x: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
