<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <crc-shared-banner-container
        bannerType="main"
      ></crc-shared-banner-container>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4 pe-0 promotions">
      <crc-promotions-banners-container></crc-promotions-banners-container>
    </div>
    <div class="col-4 px-2">
      <crc-jackpot-container></crc-jackpot-container>
    </div>
    <div class="col-4 ps-0">
      <crc-w-top-slots-container></crc-w-top-slots-container>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <crc-top-matches-container></crc-top-matches-container>
    </div>
  </div>
</div>
