@use 'variables';

.profile {
  margin: 5px -5px 0 0;
  padding: 5px 0 10px;

  &__left-menu {
    height: 100%;
    min-height: calc(100vh - 80px);
    margin: 0 -5px;
    overflow: auto;
    border-radius: 4px;
    background-color: variables.$color-dark-blue;
  }

  &__right-content {
    height: 100%;
    min-height: calc(100vh - 80px);
    overflow: auto;
    border-radius: 4px;
    background-color: variables.$color-dark-blue;
  }
}
