<crc-shared-popup
  *ngIf="showPopup | async"
  (closed)="onDialogClosed()"
  title="პაროლის შეცვლა"
  class="dialog-custom-size custom-bg-colors custom-header-text-color"
>
  <div class="wrapper">
    <crc-w-reset-password-presentation
      (resetPassword$)="onResetPasswordRequest($event)"
      (resetPasswordVerify$)="onResetPasswordVerifyRequest($event)"
      (closeDialog)="onDialogClosed()"
      [activeDialogView]="activeDialogView"
    ></crc-w-reset-password-presentation>
  </div>
</crc-shared-popup>
