// TODO duplication

@use 'variables';
@use 'mixins';

$secondary: #323c49;

.form-group {
  margin-bottom: 30px;
}

.form-control-wrapper {
  position: relative;
}

.form-control-icon {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}

.form-control-suggest {
  @include mixins.flex(flex-start, center);

  margin-top: 6px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #a7b1bc;
  }

  &.success {
    color: variables.$color-white;

    &::before {
      background-color: variables.$color-white;
      background-image: url('/assets/icons/success.svg');
      background-size: cover;
    }
  }
}

.message {
  color: #b6bfcb;
  font: 12px variables.$font-regular;
}

label {
  display: inline-block;
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}

.custom-btn {
  height: 50px;
  padding-top: 16px;

  &.btn--secondary {
    background-color: $secondary;
  }
}

.form-control__error {
  color: variables.$color-red;
  font-family: variables.$font-regular;
}
