<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>შეიყვანეთ SMS კოდი</label>
  <div class="form-group">
    <div class="form-control-wrapper">
      <crc-shared-text-input
        [class.error]="controlHasErrors('verificationCode')"
        formControlName="verificationCode"
        mask="000000"
        class="control-block form-control--lg"
      ></crc-shared-text-input>
      <div class="form-control-icon">
        <img
          *ngIf="controlHasErrors('verificationCode')"
          src="/assets/icons/error.svg"
          width="20"
          alt="Has error"
        />
        <img
          *ngIf="controlIsValid('verificationCode')"
          src="/assets/icons/success.svg"
          width="20"
          alt="Success"
        />
      </div>
    </div>
    <div
      class="message mt-1 form-control__error"
      *ngIf="controlHasErrors('verificationCode')"
    >
      {{ 'code_incorrect' | translate }}
    </div>
  </div>
  <label>პაროლი</label>
  <div class="form-group">
    <div class="form-control-wrapper">
      <crc-shared-text-input
        [class.error]="controlHasErrors('password')"
        [showToggleHideTextIcon]="true"
        formControlName="password"
        type="password"
        class="control-block form-control--lg"
      ></crc-shared-text-input>
      <div class="form-control-icon">
        <img
          *ngIf="controlHasErrors('password')"
          src="/assets/icons/error.svg"
          width="20"
          alt="Has error"
        />
        <img
          *ngIf="controlIsValid('password')"
          src="/assets/icons/success.svg"
          width="20"
          alt="Success"
        />
      </div>
    </div>
    <div class="form-control-suggests">
      <p
        class="form-control-suggest message"
        [class.success]="
          !controlHasErrors('password', true)?.required &&
          !controlHasErrors('password', true)?.upperCase &&
          !controlHasErrors('password', true)?.lowerCase
        "
        data-cy="big-and-small-symbols"
      >
        {{ 'register_passwordValidation_1' | translate }}
      </p>
      <p
        class="form-control-suggest message"
        [class.success]="
          !controlHasErrors('password', true)?.required &&
          !controlHasErrors('password', true)?.number
        "
        data-cy="number-symbols"
      >
        {{ 'register_passwordValidation_2' | translate }}
      </p>
      <p
        class="form-control-suggest message"
        [class.success]="
          !controlHasErrors('password', true)?.required &&
          !controlHasErrors('password', true)?.minlength &&
          !controlHasErrors('password', true)?.maxlength
        "
        data-cy="min-and-max-symbols"
      >
        {{ 'register_passwordValidation_3' | translate }}
      </p>
    </div>
  </div>
  <label>გაიმეორეთ პაროლი</label>
  <div class="form-group">
    <div class="form-control-wrapper">
      <crc-shared-text-input
        [class.error]="controlHasErrors('confirmPassword')"
        [showToggleHideTextIcon]="true"
        formControlName="confirmPassword"
        type="password"
        class="control-block form-control--lg"
      ></crc-shared-text-input>
      <div class="form-control-icon">
        <img
          *ngIf="controlHasErrors('confirmPassword')"
          src="/assets/icons/error.svg"
          width="20"
          alt="Has error"
        />
        <img
          *ngIf="controlIsValid('confirmPassword')"
          src="/assets/icons/success.svg"
          width="20"
          alt="Success"
        />
      </div>
    </div>
    <div *ngIf="controlHasErrors('confirmPassword')?.match" class="messages">
      <p class="message mt-1 form-control__error">
        {{ 'form_password_not_match' | translate }}
      </p>
    </div>
  </div>
  <div class="text-center">
    <button
      [disabled]="form.invalid"
      [class.btn--secondary]="form.invalid"
      class="btn btn--success custom-btn"
    >
      პაროლის შეცვლა
    </button>
  </div>
</form>
