@use 'variables';

.text-center {
  text-align: center;
}

.form-control-wrapper {
  position: relative;
}

.form-control-icon {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}

.custom-btn {
  height: 50px;
  padding-top: 16px;

  &.btn--secondary {
    background-color: #323c49;
  }
}

.message {
  color: #b6bfcb;
  font: 12px variables.$font-regular;
}
