<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>ტელეფონის ნომერი</label>
  <div class="mt-3 mb-5">
    <div class="form-control-wrapper">
      <crc-shared-text-input
        [class.error]="form.dirty && form.touched && form.invalid"
        formControlName="mobile"
        mask="000 00 00 00"
        class="control-block form-control--lg"
      ></crc-shared-text-input>
      <div class="form-control-icon">
        <img
          *ngIf="form.dirty && form.touched && form.invalid"
          src="/assets/icons/error.svg"
          width="20"
          alt="Has error"
        />
        <img
          *ngIf="form.dirty && form.touched && form.valid"
          src="/assets/icons/success.svg"
          width="20"
          alt="Success"
        />
      </div>
    </div>
    <div *ngIf="form.dirty && form.touched && form.invalid" class="messages">
      <p class="message mt-1">{{ 'phone_number_incorrect' | translate }}</p>
    </div>
  </div>
  <div class="text-center">
    <button
      [disabled]="form.invalid"
      [class.btn--secondary]="form.invalid"
      class="btn btn--success custom-btn"
    >
      პაროლის შეცვლა
    </button>
  </div>
</form>
