@use 'variables';
@use 'mixins';

$board-table-header-bg: #2e0d17;

.board-game-table {
  &__header {
    padding: 14px 0;
    border-radius: 4px;
    background-color: $board-table-header-bg;
    color: variables.$color-white;
    font-family: variables.$font-regular;

    &--title {
      margin-left: 8px;
      font-size: variables.$font-size-md;
      letter-spacing: 0.56px;
    }
  }
}

.domino {
  background-color: #0c240c;
}

.bura {
  background-color: #102130;
}
