<crc-w-reset-password-enter-phone-number-presentation
  *ngIf="activeDialogView === ResetPasswordSteps.ENTER_MOBILE"
  (submit$)="onResetPasswordRequest($event)"
></crc-w-reset-password-enter-phone-number-presentation>

<crc-w-reset-password-verify-presentation
  *ngIf="activeDialogView === ResetPasswordSteps.VERIFY_CODE"
  (submit$)="onResetPasswordVerifyRequest($event)"
></crc-w-reset-password-verify-presentation>

<crc-w-reset-password-status-presentation
  *ngIf="
    activeDialogView === ResetPasswordSteps.SUCCESS ||
    activeDialogView === ResetPasswordSteps.FAIL
  "
  [success]="activeDialogView === ResetPasswordSteps.SUCCESS"
  (closeDialog)="onCloseDialog()"
>
</crc-w-reset-password-status-presentation>
