<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>შეიყვანეთ მიმდინარე პაროლი</label>
  <div class="form-group">
    <div class="form-control-wrapper">
      <crc-shared-text-input
        [class.error]="
          (submitted && showIncorrectPasswordErrorMessage) ||
          controlHasErrors('oldValue')
        "
        [showToggleHideTextIcon]="true"
        formControlName="oldValue"
        type="password"
        class="control-block form-control--lg"
      ></crc-shared-text-input>
      <div class="form-control-icon">
        <img
          *ngIf="
            showIncorrectPasswordErrorMessage || controlHasErrors('oldValue')
          "
          src="/assets/icons/error.svg"
          width="20"
          alt="Has error"
        />
        <img
          *ngIf="submitted && showIncorrectPasswordErrorMessage === false"
          src="/assets/icons/success.svg"
          width="20"
          alt="Success"
        />
      </div>
    </div>
    <div class="message mt-1">
      <span class="form-control__error" *ngIf="controlHasErrors('oldValue')">{{
        'form_error_required' | translate
      }}</span>
      <span
        class="form-control__error"
        *ngIf="showIncorrectPasswordErrorMessage"
        >{{ 'changePassword_api_error_465' | translate }}</span
      >
    </div>
  </div>
  <label>შეიყვანეთ ახალი პაროლი</label>
  <div class="form-group">
    <div class="form-control-wrapper">
      <crc-shared-text-input
        [class.error]="controlHasErrors('newValue')"
        [showToggleHideTextIcon]="true"
        formControlName="newValue"
        type="password"
        class="control-block form-control--lg"
      ></crc-shared-text-input>
      <div class="form-control-icon">
        <img
          *ngIf="controlHasErrors('newValue')"
          src="/assets/icons/error.svg"
          width="20"
          alt="Has error"
        />
        <img
          *ngIf="controlIsValid('newValue')"
          src="/assets/icons/success.svg"
          width="20"
          alt="Success"
        />
      </div>
    </div>
    <div class="form-control-suggests">
      <p
        class="form-control-suggest message"
        [class.success]="
          !controlHasErrors('newValue', true)?.required &&
          !controlHasErrors('newValue', true)?.upperCase &&
          !controlHasErrors('newValue', true)?.lowerCase
        "
        data-cy="big-and-small-symbols"
      >
        {{ 'register_passwordValidation_1' | translate }}
      </p>
      <p
        class="form-control-suggest message"
        [class.success]="
          !controlHasErrors('newValue', true)?.required &&
          !controlHasErrors('newValue', true)?.number
        "
        data-cy="number-symbols"
      >
        {{ 'register_passwordValidation_2' | translate }}
      </p>
      <p
        class="form-control-suggest message"
        [class.success]="
          !controlHasErrors('newValue', true)?.required &&
          !controlHasErrors('newValue', true)?.minlength &&
          !controlHasErrors('newValue', true)?.maxlength
        "
        data-cy="min-and-max-symbols"
      >
        {{ 'register_passwordValidation_3' | translate }}
      </p>
      <p
        class="form-control-suggest message"
        [class.success]="userNameAndPasswordDoesntMatch"
        data-cy="min-and-max-symbols"
      >
        {{ 'userName_password_not_matched' | translate }}
      </p>
    </div>
  </div>
  <label>გაიმეორეთ პაროლი</label>
  <div class="form-group">
    <div class="form-control-wrapper">
      <crc-shared-text-input
        [class.error]="controlHasErrors('confirmNewValue')"
        formControlName="confirmNewValue"
        type="password"
        class="control-block form-control--lg"
      ></crc-shared-text-input>
      <div class="form-control-icon">
        <img
          *ngIf="controlHasErrors('confirmNewValue')"
          src="/assets/icons/error.svg"
          width="20"
          alt="Has error"
        />
        <img
          *ngIf="controlIsValid('confirmNewValue')"
          src="/assets/icons/success.svg"
          width="20"
          alt="Success"
        />
      </div>
    </div>
    <div *ngIf="controlHasErrors('confirmNewValue')?.match" class="messages">
      <p class="message mt-1 form-control__error">
        {{ 'form_password_not_match' | translate }}
      </p>
    </div>
  </div>
  <div class="text-center">
    <button
      [disabled]="form.invalid"
      [class.btn--secondary]="form.invalid"
      class="btn btn--success custom-btn"
    >
      პაროლის შეცვლა
    </button>
  </div>
</form>
