<div class="transactions-history" data-cy="transactions-history">
  <div
    class="transactions-history__header d-flex justify-content-between"
    data-cy="transactions-history-header"
  >
    <h4
      class="transactions-history__title"
      data-cy="transactions-history-title"
    >
      {{ 'userPanel_wallet' | translate }}
    </h4>
    <div class="header__right-side">
      <div>
        <!--<mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matPrefix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <div class="datepicker-actions">
                <div>დღევანდელი</div>
                <div>ბოლო 1 კვირა</div>
                <div>ბოლო 1 თვე</div>
                <div>ყველა</div>
              </div>
              <button mat-button >clear</button>
              <button mat-raised-button color="primary" matDateRangePickerApply>ნახვა</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>-->
      </div>
      <!--      <div class="header__right-side-select">
        <crc-select
          [items]="transactionSelectItems"
          bindLabel="name"
          bindValue="id"
          [searchable]="false"
          [clearable]="false"
          [selected]="selectedTransaction"
        ></crc-select>
      </div>-->
    </div>
  </div>
  <div class="transactions-history__table">
    <table
      class="table infiniteScrollContainer"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      infiniteScrollContainer=".transactions-history__table"
      [fromRoot]="true"
      (scrolled)="scrollEmitted.emit()"
      [style]="loading ? 'display: none' : ''"
    >
      <thead>
        <tr class="">
          <th scope="col">{{ 'transfers_date' | translate }}</th>
          <th scope="col">{{ 'common_id' | translate }}</th>
          <th scope="col">{{ 'transfers_type' | translate }}</th>
          <th scope="col">{{ 'transfers_amount' | translate }}</th>
          <th scope="col">{{ 'transfers_status' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transactions">
          <td>
            <ng-container *ngIf="isToday(item.regDate)">
              {{ 'Today' | translate }} {{ item.regDate | date: 'HH:mm' }}
            </ng-container>
            <ng-container *ngIf="!isToday(item.regDate)">
              {{ item.regDate | date: 'dd-MM-yyy HH:mm' }}
            </ng-container>
          </td>
          <td>{{ item.transactionId }}</td>
          <td>{{ 'transferTypeList.' + item.type | translate }}</td>
          <td>
            <span>
              {{ item.amount.toFixed(2) }}
              {{
                transactionsCurrencies.currencies[item.currencyCode] | translate
              }}
            </span>
          </td>
          <td>
            <div
              class="transactions-history__status"
              [ngClass]="{
                success: item.statusCode === 'SCS',
                error:
                  item.statusCode === 'FLD' ||
                  item.statusCode === 'ERR' ||
                  item.statusCode === 'DEC'
              }"
            >
              {{ transactionsStatus.statuses[item.statusCode] | translate }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!transactions.length && !loading" class="table__empty">
      {{ 'transactions_history_is_empty' | translate }}
    </div>
  </div>
</div>

<crc-shared-loading [state]="loading"></crc-shared-loading>
